.landing-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 340px;
    background-image: url("../../../public/static/BG.png");
    background-size: auto 100%;
}