.page-header {
    display: flex;
    flex-direction: row;
    background-color: #f0f3fb;
    justify-content: space-between;
    flex: auto;
    padding-top: 20px;
    color: black;
}

.page-header-light {
    display: flex;
    flex-direction: row;
    background-color: #0e1118;
    justify-content: space-between;
    flex: auto;
    padding-top: 20px;
    color: white;
}

.page-toggle {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.profile-info {
    padding-left: 40px;
    padding-right: 110px;
}