.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    justify-content: center;
    box-shadow: 3px 3px 15px #000;
}

.search_input {
    color: black;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar>.search_input {
    padding: 0 10px;
    width: 800px;
    caret-color: black;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_icon {
    background: #7e57c6;
    color: white;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #7e57c6;
    text-decoration: none;
}

.cancel-search-icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
}